<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='defaultstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    {% if admin %}
      <link rel="stylesheet" href="{{url_for('static', filename='admin-style.css')}}">
    {% endif %}
    <link rel="icon" href="{{url_for('static', filename='logo_1.png')}}">
    <script src="{{url_for('static', filename='nav.js')}}"></script>
    <title>Aufgabe: Eingabe</title>
  </head>

  <script src="{{url_for('static', filename='mark_subtasks.js')}}"></script>
  <body>
    {% if user %}
      {% include 'navbar.html' %}
    {% endif %}
    <div class="container dark">
      <div class="box dark">
        <div class="columns is-mobile is-centered dark">
          <div class="column has-text-centered-tablet acess-padding dark">
            <p class="is-family-monospace is-size-2-desktop is-size-3-touch dark-white">{{task.title}}</p>
            <span class="is-size-5-desktop is-size-6-touch is-italic dark-white">Aufgabe:</span>
            <p class="is-size-5-desktop is-size-6-touch">
              {{task.content}}
            </p>
            <input type="text" id="taskId" value="{{ task.token }}" hidden>
            <div class="overflow-mobile">
              <table class="table is-striped is-narrow is-hoverable is-fullwidth" id="subtasksTable">
                <thead>
                <tr>
                  <th style="width: 60%;">Aufgabe</th>
                  <th style="width: 20%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"/>
                  </svg></th>
                  <th style="width: 20%;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-question-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                  </svg></th>
                </tr>
                </thead>
                {% for subtask in task.subtasks%}
                <tbody>
                <tr>
                  <th>{{subtask.title}}</th>
                  <th>
                    <input type="checkbox" name="subtask_solved" id="solved_{{ subtask.id }}" oninput="send_solved(this.id)">
                  </th>
                  <th>
                    <input type="checkbox" name="subtask_problem" id="problem_{{ subtask.id }}" oninput="send_problem(this.id)">
                  </th>
                </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>    
    {% include 'link_git.html' %}
    </div>
  </body>
  <script>
    //check already done subtasks
    for (subtask of JSON.parse(localStorage.subtasks_done)) {
      if (document.getElementById("solved_"+subtask)) {
        document.getElementById("solved_"+subtask).checked = true;
      }
      
    }
    //check problem subtasks
    for (subtask of JSON.parse(localStorage.subtasks_problem)) {
      if (document.getElementById("problem_"+subtask)) {
        document.getElementById("problem_"+subtask).checked = true;
      }
      
    }
  </script>
</html>