<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tubaerit: Eingabe</title>
</head>
<body>
    <h1>Werteeingabe zu {{title}}</h1>
    Gemessene Werte:
    <form action="" method="post">
        <input type="text" name="xInput" id="xInput" placeholder="{{xName}}">
        <input type="text" name="yInput" id="yInput" placeholder="{{yName}}">
        <input type="submit">
    </form>
</body>
</html>