<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='defaultstyle.css')}}">
    <link rel="icon" href="{{url_for('static', filename='logo_1.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <script src="{{url_for('static', filename='nav.js')}}"></script>
    <title>Tubaerit: Admin Login</title>
  </head>
  <body>
    {% if user %}
      {% include 'navbar.html' %}
    {% endif %}
    <div class="container dark">
      <div class="box dark">
        <div class="columns is-mobile is-centered dark">
          <div class="column has-text-centered-tablet acess-padding dark">
            <p class="is-size-2-desktop is-size-3-touch dark-white">Admin-Login</p>
            <span class="is-size-5-desktop is-size-6-touch is-italic dark-white">Daten eingeben:</span>
            <form action="/admin/login" method="post">
              <div class="field">
                <label class="label is-size-4-desktop is-size-6-touch dark-white">Name</label>
                <div class="control input-size">
                  <input class="input shadow schwarz dark dark-white p-5" type="text" name="adminName" id="adminName" placeholder="Admin-Name" required>
                </div>
              </div>
              <div class="field">
                <label class="label is-size-4-desktop is-size-6-touch dark-white">Passwort</label>
                <div class="control input-size">
                  <input class="input shadow schwarz dark dark-white p-5" type="password" name="adminPassword" id="adminPassword" placeholder="Admin-Passwort" required>
                </div>
              </div>
              <div class="control">
                <button class="button is-medium is-responsive shadow submit-button">
                  <span>Bestätigen</span>
                </button>
              </div>
            </form>
          </div>
        </div>
        {% if errorCode=="wrong-credentials" %}
          <div class="is-centered my-3 error-keyframe">
            <article class="message is-danger is-medium massage-round shadow">
              <div class="message-header">
                <p>Turbaerit Error</p>
                <button class="delete is-medium" aria-label="delete" onclick="this.parentElement.parentElement.style.display='none'"></button>
              </div>
              <div class="message-body">
                Der Nutzername bzw. das Passwort ist falsch.
              </div>
            </article>
          </div>
        {% endif %}
      </div>
    </div>
    {% include 'link_git.html' %}
  </body>
</html>