<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tubaerit: Neue Umfrage</title>
</head>
<body>
    <h1>Einstellungen</h1>
    {%if error%}
        {{error}}
    {%endif%}
    <form action="" method="post">
        <input type="text" id="title" name="title" placeholder="Titel" required>
        <input type="text" id="xName" name="xName" placeholder="Name der x-Variable" required> 
        <input type="number" id="xMin" name="xMin" placeholder="Kleinstmögliches x" required>
        <input type="number" id="xMax" name="xMax" placeholder="Größtmögliches x" required>
        <input type="text" id="yName" name="yName" placeholder="Name der y-Variable" required>
        <input type="number" id="yMin" name="yMin" placeholder="Kleinstmögliches y" required>
        <input type="number" id="yMax" name="yMax" placeholder="Größtmögliches y" required>
        <input type="number" id="inputsLimit" name="inputsLimit" placeholder="Maximale Messangaben">
        <input type="submit">
    </form>
</body>
</html>