<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey - Delete</title>
</head>
<body>
    <h1>Wollen sie {{survey.title}} löschen?</h1>
    <form action="/survey/delete/{{survey.token}}" method="post">
        <input type="submit" name="confirmDelete" id="confirmDelete" value="Löschen">
        <button class="button is-medium is-responsive shadow" type="button" onclick="javascript:window.history.back();">Zurück</button>
    </form>
</body>
</html>