<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='bulma.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='defaultstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    <link rel="icon" href="{{url_for('static', filename='logo_1.png')}}">
    <title>Tubaerit: Start</title>
  </head>
  <body>
    {% if user %}
      {% include 'navbar.html' %}
    {% endif %}
    <script src="{{url_for('static', filename='nav.js')}}"></script>
    
    <div class="container dark p-5 mt-4">
      <div class="columns is-mobile is-centered dark">
        <div class="column has-text-centered-tablet acess-padding dark">
          <div class="tile is-ancestor">
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Umfragen</p>
                <p class="subtitle">{{surveyCount}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Antworten</p>
                <p class="subtitle">{{answerCount}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">Webseitenaufrufe</p>
                <p class="subtitle">{{visits}}</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <p class="title">GitHub</p>
                <p class="subtitle">
                  <div class="class-github">
                    <a class="button is-small" href="https://github.com/Liscirum-Digital/Turbaerit" target="_blank">
                      <span class="icon is-small">
                        <img src="{{url_for('static', filename='logo_github1.png')}}" width="24" height="24">
                      </span>
                      <span>GitHub</span>
                    </a>
                  </div>
                </p>
              </article>
            </div>
          </div>
          
          <div class="tile is-ancestor">
            <div class="tile is-vertical is-9">
              <div class="tile">
                <div class="tile is-vertical">
                  <div class="tile is-parent">
                    <article class="tile is-child box">
                      <p class="title">Herzlich willkommen bei Tubaerit!</p>
                      <p class="subtitle"><i>voll mit basierten tschads...</i></p>
                      <div class="content">
                        <img src="{{url_for('static', filename='logo_1.png')}}" alt="logo" width="200px" height="200px">
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="tile">
                <div class="tile is-8 is-parent">
                  <article class="tile is-child box">
                    <p class="title">Open Source</p>
                    <div class="content">
                      <p>Tubaerit ist ein Open-Source-Tool, mit dem Daten von lokalen Gruppen gesammelt werden können.</p>
                    </div>
                  </article>
                </div>
                <div class="tile is-parent">
                  <article class="tile is-child box">
                    <p class="title">Klares Ziel</p>
                    <div class="content">
                      <p>Das Projekt wird von Liscirum Digital für den Physik-Unterricht entwickelt.</p>
                    </div>
                  </article>
                </div>
              </div>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child box">
                <div class="content">
                  <p class="title">Funktionsweise</p>
                  <p class="subtitle"><i>simpel...</i></p>
                  <div class="content">
                    Nach der Erstellung einer Umfrage können die Benutzer auf eine einfache Weboberfläche zugreifen und Messdaten bereitstellen. Die gesammelten Informationen werden in einem Diagramm dargestellt, können aber auch in eine CSV-Datei exportiert werden. <br>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'link_git.html' %}
  </body>
</html>