<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='defaultstyle.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}">
    {% if admin %}
      <link rel="stylesheet" href="{{url_for('static', filename='admin-style.css')}}">
    {% endif %}
    <link rel="icon" href="{{url_for('static', filename='logo_1.png')}}">
    <script src="{{url_for('static', filename='nav.js')}}"></script>
    <title>Sentipoll: Umfragen-Manager</title>
    <style>
      @media only screen and (min-width: 1201px) {
          .overflow-mobile {
              overflow-x: auto;
              table-layout: fixed;
          }
      }
      @media only screen and (max-width: 1200px) {
          .overflow-mobile {
              overflow-x: scroll;
          }
      }
      .overflow-mobile {
          overflow-y: auto;
      }
      .table.is-narrow th {
          padding: .15em .3em;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container dark">
      <div class="columns is-centered dark p-2">
        <div class="column has-text-centered-tablet acess-padding dark">
          <p class="is-size-1-desktop is-size-3-touch acess-margin dark-white">Erstellte Umfragen</p>
          <div class="overflow-mobile">
            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th style="width: 40%;">Titel</th>
                  <th style="width: 5%;">Antworten</th>
                  <th style="width: 10%;">Token</th>
                  <th style="width: 10%;">Optionen</th>
                  <th style="width: 9%;"></th>
                  <th style="width: 9%;"></th>
                  <th style="width: 9%;"></th>
                  <th style="width: 8%;"></th>
                </tr>
              </thead>
              {% for survey in surveys %}
              <tbody>
                <tr>
                  <th>{{survey.title}}</th>
                  <th>{{survey.answerCount}}</th>
                  <th>{{survey.token}}</th>
                  <th><a href="/survey/access/{{survey.token}}" target="_blank"><button class="button is-small is-responsive shadow">Werteeingabe</button></a></th>
                  <th><a href="/survey/results/{{survey.token}}" target="_blank"><button class="button is-small is-responsive shadow">Ergebnisse</button></a></th>
                  <th><a href="/survey/download/{{survey.token}}"><button class="button is-small is-responsive shadow is-success">Download</button></th>
                  <th><a href="/survey/edit/{{survey.token}}" target="_blank"><button class="button is-small is-responsive shadow">Bearbeiten</button></a></th>
                  <th><a href="/survey/delete/{{survey.token}}"><button class="button is-small is-responsive shadow is-danger">Löschen</button></th>
                </tr>
              </tbody>
              {%endfor%}
            </table>
          </div>
          <hr style="margin: 15px;">
          <a href="/survey/new"><button class="button is-medium is-responsive shadow">Neue Survey erstellen</button></a>
        </div>
      </div>
    </div>
    {% include 'link_git.html' %}
  </body>
</html>