<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tubaerit: Survey-Manager</title>
</head>
<body>
    <h1>Erstellte Umfragen</h1>
    <table style="border: 1px solid black;">
        <tr>
            <th>Titel</th>
            <th>Antworten</th>
            <th>Token</th>
            <th>Teilnahme</th>
            <th>Ergebnisse</th>
        </tr>
        {% for survey in surveys %}
        <tr>
            <th>{{survey.title}}</th>
            <th>{{survey.answerCount}}</th>
            <th>{{survey.token}}</th>
            <th><a href="/access/{{survey.token}}" target="_blank">/access/{{survey.token}}</a></th>
            <th><a href="/results/{{survey.token}}" target="_blank">/results/{{survey.token}}</a></th>
            <th></th>
        </tr>

        {%endfor%}
    </table>
    
        
</body>
</html>