<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task: Fortschritt</title>
    <script type="text/javascript" src="{{url_for('static', filename='update_done_subtasks.js')}}"></script>
</head>
<body>
    <h1>Aufgabe: {{task.title}}</h1>
    <input type="text" value="{{task.token}}">
    <table id="subtasksTable">
        <tr>
            <th>Aufgabe</th>
            <th>Gelöst</th>
        </tr>
        {% for subtask in task.subtasks%}
        <tr>
            <td>{{subtask.title}}</td>
            <td>{{subtask.done}}</td>
        </tr>
            
        {% endfor %}
    </table>

    <script>init("{{task.token}}")</script>
    
</body>
</html>